form {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

input, select, button {
  border: none;
  border-radius: 5px;
  padding: 1%;
  font-weight: 900;
}

button {
  background-color: #eff8ff;
}